.env
blib
cover_db
Makefile
META.yml
pm_to_blib
GSM
*.tar.gz
*.tgz
*.old
*.o
*.c
*.bs
*.gcov
*.gcda
*.gcno
GSM-Gnokii*
xx*
.releaserc
valgrind.log
pod2htm*
nytprof*
tmp/*
sandbox/cover_db*
sandbox/3109c*
